html {
  height: 100%;
}
body {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  border: 1px solid #000;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/** NAV BAR */

.header #nav {
  list-style-type: none;
  background: #683115;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0; 
}

.header #nav .logo {
  margin-right: auto;
}

.header #nav li {
  padding: 1em;
}

.header #nav li a {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

#nav .dropdown {
  position: relative;
  z-index: 1;
}

#nav .drop-nav {
  position: absolute;
  display: none;
  left: -25px;
}

#nav .drop-nav li {
  border-bottom: 1px solid #000;
  background: #683115;
  width: 160px;
  list-style-type: none;
}

#nav .drop-nav li a {
  font-size: 10pt;
}

#nav .drop-nav li:hover {
  background-color: #AD4F2B;
}

#nav .dropdown:hover > .drop-nav {
  display: block;
}

@media (max-width: 768px) {
  .header #nav {
    flex-direction: column;
    text-align: center;
    font-size: 10pt;
  }
  #nav .dropdown:hover > .drop-nav{
    display: none;
  }
  .header #nav .logo {
    margin-right: 0;
  }
}

/* end nav bar */

/** BIG EYEBALL PICTURE */
.jumbo-img {
  position: relative;
}

.jumbo-img img{
 width: 100%;
 height: auto;
 opacity: 0.7;
}

.jumbo-img .centered {
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  width: 100%;
}

.jumbo-img h1 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 18pt;
  color: #000;
}

.jumbo-img button {
  padding: 1em;
  border-radius: 20px;
  background-color: #683115;
}
.jumbo-img button a {
  font-size: 16pt;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
} 


/* Media query for jumbo eye pic */
@media (max-width: 768px) {
  .jumbo-img h1 {
    font-size: 12pt;
  }
  .jumbo-img button a{
    font-size: 8pt;
  }
}
/* End media query */

/* end jumbo eye picture */


/** FOOTER */

#footer {
  flex: 1;
  background-color: #AD4F2B;
}
#footer h1 {
  padding-left: 2em;
  font-size: 14pt;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

#footer .locations ul {
  display: flex;
  flex-wrap: wrap;
}

#footer li {
  list-style-type: none;
  padding: 1em;
}

#footer li h2 {
  font-size: 12pt;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}
#footer li p {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#footer .locations .buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
}

#footer .locations .buttons li{
  padding: 5px;
  margin: 0;
}

#footer .locations .buttons button {
  background-color: #683115;
  border-radius: 5px;
}
#footer .locations .buttons button a{ 
  color: #FFF;
  text-decoration: none;
  font-size: 14pt;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}
/* Media query for footer */
@media (max-width: 768px) {
  #footer .locations .buttons button a {
    font-size: 12pt;
  }
}
/* end media query */

/* end footer */

/* Content section */

#content {
  padding: 3em;
}

#content p {
  font-family: 'Roboto', sans-serif;
}

#content h1 {
  font-size: 18pt;
  font-family: 'Open Sans', sans-serif;
}

/* Maps on index page */
#content .maps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

#content .maps li {
  align-self: center;
  list-style-type: none;
  padding: 1em;
}


/** OPTICAL SHOP */
.shopimg {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
}

#opticalimg {
  text-align: center;
}

/* resize images */


.danielle {
  text-align: center;
  font-weight: bold;
}

.brandsimg img{
  max-width: 100%;
  height: auto;
}

/** CONTACT US MAP */

/* Flexible iFrame */

.flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 20px;
    height: 0;
    overflow: hidden;
}

.flexible-container iframe,   
.flexible-container object,  
.flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#locations {
  width: 100%;
  margin: 0, auto;
  text-align: center;
  font-size: 14pt;
  padding: 1px;
}

h3 button {
  background-color: #683115;
  border-radius: 12px;
  padding: 11px 20px 10px 20px;
}
h3 button a:link {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  color: #FFF;
  font-size: 12pt;
}
h3 button a:visited {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  color: #FFF;
  font-size: 12pt;
}
h3 button a:hover {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  color: #FFF;
  font-size: 12pt;
}
h3 button a:active {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  color: #FFF;
  font-size: 12pt;
}

/** DOCTORS PAGE */

#content .doctors {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
}

.doctors li {
  list-style-type: none;
  padding: 3em;

}

.doctors a {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  color: #683115;
  text-align: center;
}

.moredocs ul{
  display: flex;
  flex-direction: column;
}
.moredocs li {
  flex: 1;
  padding: 0.5em;
  list-style-type: none;
  color: #683115;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.doc-img {
  padding: 1em;
}


/* LASIK PAGE */
#call {
  background-color: #EABDAC;
  border: 2px solid;

}


/* MEDICAL TREATMENT PAGE BACKGROUND COLOR AND PARAGRAPH STYLING */


.iandi {
  background-color: #F6DDCC;
  padding: 4em;
  float: center;
  height: auto;
}

.injuries {
  background-color: #FBEEE6;
  padding: 4em;
  float: center;
  height: auto;
}

.children {
  background-color: #E59866;
  padding: 4em;
  float: center;
  height: auto;
}

.retinal {
  background-color: #F6DDCC;
  padding: 4em;
  float: center;
  height: auto;
}

.glaucoma {
  background-color: #FBEEE6;
  padding: 4em;
  float: center;
  height: auto;
}

.laser {
  background-color: #F6DDCC;
  padding: 4em;
  float: center;
  height: auto;
}

/* MEDICAL TREATMENT WALL OF TEXT */
article {
    -webkit-columns: 3 200px;
     -moz-columns: 3 200px;
          columns: 3 200px;
}

.guide ul li{
  list-style: none;
  margin: 0;
  padding: 1em;
  font-size: 10px;
  width: auto;
  display: inline;
}




/* unvisited link */

.guide a:link {
    color: #683115;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14pt;
    font-weight: bold;
    line-height: 200%;
  }

/* visited link */

.guide a:visited {
    color: #683115;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14pt;
    font-weight: bold;
    line-height: 200%;

}

.top a,
.guide a:hover {
    color: #AD4F2B;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14pt;
    font-weight: bold;
    line-height: 200%;

}

/* selected link */

.guide a:active {
    color: #683115;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14pt;
    font-weight: bold;
    line-height: 200%;
}

/** FORMS */

.sketch {
  max-width: 35%;
  overflow: hidden; 
  margin-right: 10px; 
  float: left;
}

.forms li {
  list-style-type: none;
}

/* unvisited link */
.forms a:link {
    color: #683115;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    line-height: 200%;

    
}

/* visited link */
.forms a:visited {
    color: #683115;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    line-height: 200%;

}

/* mouse over link */
.forms a:hover {
    color: #AD4F2B;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    line-height: 200%;

}

/* selected link */
.forms a:active {
    color: #683115;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    line-height: 200%;
}


/* CONTACT US PAGE */

/* unvisited link */
#pdf_directions  a:link {
    color: #683115;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    line-height: 200%;

    
}

/* visited link */
#pdf_directions a:visited {
    color: #683115;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    line-height: 200%;

}

/* mouse over link */
#pdf_directions a:hover {
    color: #AD4F2B;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    line-height: 200%;

}

/* selected link */
#pdf_directions a:active {
    color: #683115;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    line-height: 200%;
}
